body {
    background-color: rgb(241, 232, 219);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(43, 21, 6);
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}
h2{
    font-weight: normal;
    font-style: italic;
    font-weight: bold;
    background-color: tan;
    margin-top: 0;
    padding: 1rem;
}
.kontakt p{
    text-align: left;
    margin: 0.8rem;
}
.kontakt a:link{color: rgb(43, 21, 6);}
.kontakt a:visited{color: rgb(43, 21, 6);}